@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização Customizada da Barra de Rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #21262d; 
  border-radius: 10px;
  border: 2px solid transparent; 
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #30363d;
}

.recommendations-scrollbar::-webkit-scrollbar-track {
  background: #12121c; 
  border-radius: 10px;
}

.recommendations-scrollbar::-webkit-scrollbar-thumb {
  background-color: #A044FF; 
  border-radius: 10px;
}